<!DOCTYPE html>
<html>
    <head>
        <title>Voting App</title>
        {{!--bootstrap css--}}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        {{!--Jquery--}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        {{!--bootstrap js--}}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        {{!--custom css--}}
        <link rel="stylesheet" href="/css/style.css"/>
        {{!--Chart.js--}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.min.js"></script>
    </head>
    
    <body>
        <div class="container">
      
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li><a href="/">All polls</a></li>
            {{#if user}}
            <li><a href="/myPolls/{{user.githubId}}">My Polls</a></li>
            <li><a href="/create/{{user.githubId}}">Create New</a></li>
            <li><a href="/logout">{{user.displayName}} Logout</a></li>
            {{else}}
            <li><a href="/auth/github">Login with Github</a></li>
            {{/if}}
            
            
          </ul>
        </nav>
        <h3 class="text-muted">Voting App </h3>
      </div>
        
        <div class="row">
          <div class="col-md-12 main">
            {{{body}}} 
          </div>
        </div>

      <footer class="footer text-center">
        <p>&copy; 2016 Mengjie Yu</p>
      </footer>
      
    </div> <!-- /container -->
    
    </body>
</html>