<div class="well pad">
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <form method="POST" action="/poll/{{poll._id}}">
              <fieldset class="form-group">
                <label for="selectOptions">{{poll.pollName}}</label>
                <select class="form-control" id="selectOptions" name="selectPicker" onchange="addFunc(this)">
                  {{#each poll.options}}
                  <option value="{{{this.option}}}">{{this.option}}</option>
                  {{/each}}
                  <option value="add">I don't like these options</option>
                </select>
              </fieldset>
              <div class="form-group hide add">
                    <label>Add a custome option</label>
                    <input type="text" class="form-control" name="addOption" placeholder="Type your option">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
              <a class="btn btn-info btn-block" href="https://twitter.com/intent/tweet?text={{{poll.pollName}}}">Tweet this poll</a>
            </form>
        </div>
        
        <div class="col-md-4 col-md-offset-2">
            <canvas id="myChart" width="400" height="400"></canvas>
            {{#if isOwner}}
            <form method="POST" action="/poll/{{poll._id}}?_method=DELETE" onsubmit="return confirm('Do you really want to delete this poll?');">
                <button class="btn btn-danger btn-block" type="submit">Delete</button>
            </form>
            {{/if}}
        </div>
    </div>
</div>

 <script>
     
     function addFunc(self){
         var value = self.value;
         if (value == "add"){
             $('.add').removeClass('hide');
         }else {
             $('.add').addClass('hide');
         }
     }
     
 
 
      var options = [],votes = [],colors=[],hovers=[];
      "{{#each poll.options}}";
      var o = "{{{this.option}}}";
      var v = "{{{this.votes}}}";
      var c = "{{{this.color}}}";
      var h = "{{{this.hover}}}";
      options.push(o);
      votes.push(Number(v));
      colors.push(c);
      hovers.push(h);
      "{{/each}}";
  
// console.log(colors,"and",hovers);
             
var data = {
	labels: options,
	datasets: [{
		data: votes,
		backgroundColor: colors,
		hoverBackgroundColor: hovers
	}]
};

var ctx = document.getElementById("myChart").getContext("2d");
var myChart = new Chart(ctx, {
		type: 'doughnut',
		data: data,
		options: {
			cutoutPercentage: 50
		}
});
             
 </script>